.Typewriter__wrapper {
    
    color: turquoise;
    font-weight: 600;
    font-size: 3.2rem !important;
}

.Typewriter__cursor{
    margin-left: 0 !important;
}

.home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
    background: #121212;
    width: 100%;
}

.home__left{
    margin: 2.5rem;
    display: flex;
    margin-top: 5rem;
    flex: 0.6;
    gap: 0px;
    flex-direction: column;
    row-gap: 0px;
    column-gap: 0px;
    
    
}
.wrapper{
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
}
.home__right{
    flex: 0.4;
    margin: 0px 5rem;
}
.home__left span {
    font-size: 3rem;
    margin: 2px;
    margin-left: 2rem;
    padding: 2px;
    font-family: Raleway;
}




.button{
    outline: none;
    width: fit-content;
    padding: 1rem 1.6rem;
    border-radius: 30px;
    cursor: pointer;
    color: #121212;
    background-color: #00f962;
    border: 1px solid #ffffff;
    font-size: 0.85rem;
    font-family: Merriweather;
    transition: color 1s, background-color 1s, border 1s;
    
}

.button:hover {
    color: black;
    background-color: #ffffff;
    border: 1px solid #00f962
}

.media{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.media__images{
    object-fit: contain;
    width: 4.5vw;
    padding: 1rem;
    cursor: pointer;
}
.media__images2{
    object-fit: contain;
    width: 5vw;
    padding: 1rem;
    cursor: pointer;
}

.elements{
    display: flex;
    margin-top: 3rem;
    justify-content: space-around;
    align-items: center;
}

@media screen and (min-width: 1401px) and (max-width: 1920px) {
  
    .home__left span {
        font-size: 3.5rem;
        margin: 4px;
        margin-left: 5rem;
        padding: 2px;
        font-family: Raleway;
    }

    .Typewriter__wrapper {
    
        color: turquoise;
        font-weight: 600;
        font-size: 3.8rem !important;
    }

    .home__left{
        margin-top: 10rem;        
    }
    .media__images{
        object-fit: contain;
        width: 6rem;
        padding: 1rem;
        cursor: pointer;
    }
    .media__images2{
        object-fit: contain;
        width: 5rem;
        padding: 1rem;
        cursor: pointer;
    }

    .home{
        padding-bottom: 10vh;
        width: 100%;
    }
    
  }
  /* @media (min-width: 768px) and (max-width: 1204px){
    .home__right{
        height: 0;
        display: none;
        width: 0;
    }
    .home__left span {
        font-size: 1.5rem;
        margin: 2px;
        margin-left: 1rem;
        padding: 0.5px;
        font-family: Raleway;
    }

    .Typewriter__wrapper {
    
        color: turquoise;
        font-weight: 600;
        font-size: 1.8rem !important;
    }
  } */
  @media screen and (min-width: 950px) and (max-width: 1103px)
  {
    .home__left span{
        font-size: 40px;
        margin-left: 1rem;
        padding: 0.5px;
        font-family: Raleway;
    }
    .Typewriter__wrapper
    {
        font-size: 43px !important;
    }
    .media__images{
        width: 4rem;
    }
    .media__images2{
        width: 6rem;
    }
    .button{
        font-size: 1rem;
    }

  }
  @media screen and (min-width: 768px) and (max-width: 949px){
    .home__left span{
        font-size: 37px;
        margin-left: 1rem;
        padding: 0.5px;
        font-family: Raleway;
    }
    .Typewriter__wrapper
    {
        font-size: 40px !important;
    }
    .home{
        justify-content: space-between;
    }
    .home__left{
        margin-right: 0;
    }
    .home__right{
        margin-left: 0;
    }
    .media__images{
        width: 3rem;
    }
    .media__images2{
        width: 5rem;
    }
    .button{
        font-size: 1rem;
    }
  }
  @media screen and (max-width: 767px)
  {
    .home__left{
        margin:1rem 0.5rem;
        width: 100%;
    }
    .home__right{
        height: 0;
        display: none;
        width: 0;
    }
    .home__left span{
        font-size: 3.2rem;
        padding: 0.5px;
        font-family: Raleway;
    }
    .home{
        display: block;
        align-items: flex-start;
        width: 100%;
    }
    .Typewriter__wrapper
    {
        font-size: 3rem !important;
    }
    .elements{
        margin: 0.5rem;
    }
    .media__images{
        width: 5rem;
    }
    .media__images2{
        width: 7rem;
    }
    .button{
        font-size: 1rem;
    }
    
  }