.navbar {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    margin: 1.5rem 0;
    padding-left: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ffffff;
    max-height: 10vh;
}

.navbar__container ul{
    display: flex;
    list-style: none;
}

.navbar__resume{
    margin: 0 10px;
    display: flex;
}

.portfolio {
    cursor: pointer;
    font-weight: 600;
    font-size: 1.5rem;
    color: #ffffff;
    transition:font-size 1s;
    font-family: Cedarville Cursive;
    
    

}



.c_button {
    cursor: pointer;
    font-weight: 500;
    margin-right: 50px;
    font-size: 0.9rem;
    border: 2px solid #ffffff;
    font-family: Raleway;
    color: #ffffff;
    padding: 8px 15px;
    border-radius: 20px;
    transition: background-color 2s;
    

}

.c_button:hover {
    cursor: pointer;
    font-weight: 500;
    color: black;
    background-color: #ffffff;


}



.navbar__container ul li {
    padding: 0px 15px;
    margin: 0px 10px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 650;
    transition: font-size 1.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Roboto Serif;
    color: #ffffff;
}
.navbar__container ul li a {
    text-decoration: none;
    color: #ffffff;
}

.navbar__container ul li ScrollLink{
    color: #ffffff;
    text-decoration: none;
}


.navbar__container ul li:hover{
    font-size: 1.1rem;
    

}

.navbar__container ul li > .bar
{
    transition: width 2s, height 2s, background-color 1s, margin-top 1.5s;
}


.navbar__container ul li:hover > .bar {
    width: 4px;
    height: 4px;
    background-color: turquoise;
    margin-top: 3px;
    border-radius: 50%;
}

