/* nav{
    width: 100%;
    margin: 0;
} */
.navbar {
    border-bottom: 1px solid #ffffff;
    display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 10px;
  width: 100%;
  max-height: 13vh ;
}

.navbar__container{
    display: flex;
    list-style: none;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 1rem;

    color: #ffffff;
    
}
.hamburger-menu{
    display: none;
}
.navbar__resume{
    margin: 0 10px;
    display: flex;
}

.portfolio {
    cursor: pointer;
    font-weight: 600;
    font-size: 1.5rem;
    color: #ffffff;
    transition:font-size 1s;
    font-family: Cedarville Cursive;
    
    

}



.c_button {
    cursor: pointer;
    font-weight: 500;
    margin-right: 50px;
    font-size: 0.9rem;
    border: 2px solid #ffffff;
    font-family: Raleway;
    color: #ffffff;
    padding: 8px 15px;
    border-radius: 20px;
    transition: background-color 2s;
    

}

.c_button:hover {
    cursor: pointer;
    font-weight: 500;
    color: black;
    background-color: #ffffff;


}



.navbar__container li {
    padding: 0px 15px;
    margin: 0px 10px;
    cursor: pointer;
    font-size: 1rem;
    position: relative;
    font-weight: 650;
    transition: font-size 1.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Roboto Serif;
    color: #ffffff;
}
.navbar__container li a {
    text-decoration: none;
    color: #ffffff;
}

.navbar__container ul li ScrollLink{
    color: #ffffff;
    text-decoration: none;
}


.navbar__container li:hover{
    font-size: 1.1rem;
    

}

.navbar__container li > .bar
{
    transition: width 2s, height 2s, background-color 1s, margin-top 1.5s;
}


.navbar__container li:hover > .bar {
    width: 4px;
    height: 4px;
    background-color: turquoise;
    margin-top: 3px;
    border-radius: 50%;
}

@media screen and (max-width: 769px){

    .hamburger-menu{
        display: block;
        margin-right: 25px;
    }
    .contact_span{
        height: 0;
        display: none;
    }

    
      .navbar__container {
        display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    z-index: 10;
    top: 0vh;
    right: -300px;
    width: 0px;
    height: 100vh;
    /* background: #060621cd; */
    background-color: rgba(33, 33, 33, 1);
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 40px 0 0 10px;
    transition: 0.3s ease-in-out;
      }

      .navbar__container.active{
        right: 0px;
        width: 300px;
      }
      .navbar__container li {
        list-style: none;
        padding: 0 20px;
        position: relative;
        margin-bottom: 25px;
      }
      .navbar__container li a {
        text-decoration: none;
        font-size: 1.3rem;
        font-weight: 600;
        color: #fff;
        transition: 0.3s ease-in-out;
    }
    
    .navbar__container ul li ScrollLink{
        text-decoration: none;
        font-size: 1.3rem;
        font-weight: 600;
        color: #fff;
        transition: 0.3s ease-in-out;
    }
    
    
    .navbar__container li:hover, .navbar__container li:active{
        color: #17cf97;
    }
    .navbar__container li a:hover::after,
    .navbar__container li a.active::after {
        content: "";
        width: 30%;
        height: 2px;
        background: #17cf97;
        position: absolute;
        bottom: -4px;
        left: 20px;
}
    #cross{
        align-items: flex-end;
        right: -200px;
        color: #17cf97;

}
    
    .navbar__container li > .bar
    {
        display: none;
    }
}
